<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChangePass</title>
</head>
<body>
   <h1>Change Password</h1> 
    <form action="/changepassword" method="post">
        username: <input type="text" name="username" id=""><br>
        รหัสผ่านเดิม: <input type="text" name="old_password" id=""><br>
        รหัสผ่านใหม่: <input type="text" name="new_password" id=""><br>
        <input type="submit" value="เปลี่ยนรหัสผ่าน">
    </form>
</body>
</html>