
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
</head>
<body>
    <h1>Post recipe</h1>

    <form action="/post" method="post">
        ชื่อหัวข้อ:<br>
        <input type="text" name="name" id=""><br>
        รายละเอียด:<br>
        <input style="width: 400px; height: 600px " type="text" name="detail" id=""><br>
        <input style="margin: 10px" type="submit" value="เผยแพร่สูตร">
    </form>
</body>
</html>